<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!-->
<html th:lang="${lang}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <title>Bookshop</title>
    <meta content="Описание страницы" name="description">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport">
    <!--meta( http-equiv="cache-control" content="no-cache")-->
    <!--meta( http-equiv="expires" content="0")-->
    <!--link(rel="preload" href="assets/css/extra.min.css?v=" + version as="style" crossorigin="anonymous")-->
    <link href="/favicon.ico" rel="shortcut icon">
    <link as="font" crossorigin="anonymous" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" rel="preload">
    <link as="font" crossorigin="anonymous" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" rel="preload">
    <link as="font" crossorigin="anonymous" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" rel="preload">
    <link as="font" crossorigin="anonymous" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" rel="preload">
    <link href="/assets/css/fonts.min.css?v=46559719" rel="stylesheet">
    <link href="/assets/css/basic.min.css?v=46559719" rel="stylesheet">
    <link href="/assets/css/extra.min.css?v=46559719" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script defer src="/assets/js/scripts.min.js?v=46559719"></script>
</head>
<body class="Site">
<!--if lt IE 8
p.error-browser
    | Ваш браузер&nbsp;
    em устарел!&nbsp;
    a(href="http://browsehappy.com/") Выберите новую версию
        +s
        | браузера здесь&nbsp;
    | для правильного отображения сайта.
-->
<header th:replace="~{'fragments/common_header_fragment_' + ${authentication} :: header_fragment}"></header>
<div class="Middle">
    <div class="Middle-top">
        <div class="wrap">
            <h1 class="Middle-title">Документ
            </h1>
        </div>
    </div>
    <div class="wrap">
        <main class="Middle-main">
            <ul class="breadcrumbs">
                <li class="breadcrumbs-item"><a href="/">Главная</a>
                </li>
                <li class="breadcrumbs-item"><a href="/documents">Документы</a>
                </li>
                <li class="breadcrumbs-item breadcrumbs-item_current">
                    <span th:text="${document.title}">Политика обработки персональных данных</span>
                </li>
            </ul>
            <h1 class="Middle-title" th:text="${document.title}">Политика обработки персональных данных
            </h1>
            <article class="Article">
                <div class="sdf">
                </div>
                <div class="pict pict_left"><img alt="2.jpg" src="/assets/img/content/documents/2.jpg"/>
                </div>
                <div style="word-break: break-word;" th:text="${document.text}"> Что регулирует настоящая политика конфиденциальности
                </div>
            </article>
        </main>
    </div>
</div>
<footer th:replace="~{'fragments/common_footer_fragment_' + ${authentication} :: footer_fragment}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>