<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!-->
<html th:lang="${lang}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <title>Bookshop</title>
    <meta content="Описание страницы" name="description">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport">
    <!--meta( http-equiv="cache-control" content="no-cache")-->
    <!--meta( http-equiv="expires" content="0")-->
    <!--link(rel="preload" href="assets/css/extra.min.css?v=" + version as="style" crossorigin="anonymous")-->
    <link href="/favicon.ico" rel="shortcut icon">
    <link as="font" crossorigin="anonymous" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" rel="preload">
    <link as="font" crossorigin="anonymous" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" rel="preload">
    <link as="font" crossorigin="anonymous" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" rel="preload">
    <link as="font" crossorigin="anonymous" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" rel="preload">
    <link href="/assets/css/fonts.min.css?v=45744385" rel="stylesheet">
    <link href="/assets/css/basic.min.css?v=45744385" rel="stylesheet">
    <link href="/assets/css/extra.min.css?v=45744385" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script defer src="/assets/js/scripts.min.js?v=45744385"></script>
</head>
<body class="Site">
<!--if lt IE 8
p.error-browser
    | Ваш браузер&nbsp;
    em устарел!&nbsp;
    a(href="http://browsehappy.com/") Выберите новую версию
        +s
        | браузера здесь&nbsp;
    | для правильного отображения сайта.
-->
<header th:replace="~{'fragments/common_header_fragment_' + ${authentication} :: header_fragment}"></header>
<div class="Middle">
    <div class="Middle-top">
        <div class="wrap">
            <h1 class="Middle-title">Личный кабинет
            </h1>
        </div>
    </div>
    <div class="wrap">
        <main class="Middle-main">
            <h2 class="Middle-title">Мой профиль
            </h2>
            <div class="Tabs Tabs_default">
                <!--+Tabs-links([-->
                <!--    ['#basic', 'Основные сведения'],-->
                <!--    ['#transactions','История транзакций'],-->
                <!--    ['#topup','Пополнить счет']-->
                <!--], 'text', 0)-->
                <div class="Tabs-links"><a class="Tabs-link Tabs-link_ACTIVE" href="#basic">Основные сведения</a><a
                        class="Tabs-link" href="#transactions">История транзакций</a><a class="Tabs-link" href="#topup">Пополнить
                    счет</a>
                </div>
                <div class="Tabs-wrap">
                    <div class="Tabs-block" id="basic">
                        <div class="Profile">
                            <form action="#" class="form Profile-form" method="post" autocomplete="off">
                                <div class="row">
                                    <div class="row-block">
                                        <div class="form-group">
                                            <label class="form-label" for="name">Имя
                                            </label>
                                            <input class="form-input" data-validate="require name" id="name" placeholder="Введите Имя" name="name" type="text" maxlength="30"
                                                   value="Михаил" th:value="${user.name}"/>
                                            <div class="Profile-btn Profile-btn_confirm">
                                                <button class="btn btn_primary" id="changeName" disabled="disabled" type="button">Сохранить
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="mail">E-mail
                                            </label>
                                            <input class="form-input" data-validate="require mail"
                                                   id="mail" name="mail" type="text" placeholder="Введите e-mail" value="addr@sait.com" th:value="${user.mail}"/>
                                            <input class="form-input" data-mask="999 999" data-validate="key require" id="mailCode" name="mailcode"
                                                   placeholder="Код из письма" type="text" style="display: none;"/>
                                            <div class="Profile-btn Profile-btn_confirm">
                                                <button class="btn btn_primary" id="changeMail" disabled="disabled" type="button">Подтвердить
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="phone">Телефон
                                            </label>
                                            <input class="form-input" data-mask="+7 (999) 999-99-99" data-validate="require phone"
                                                   id="phone" name="phone" type="text" placeholder="Введите телефон" value="+70000000000" th:value="${user.phone}"/>
                                            <input class="form-input" data-mask="999 999" data-validate="key require" id="phoneCode" name="phonecode"
                                                   placeholder="Код из SMS" type="text" style="display: none;"/>
                                            <div class="Profile-btn Profile-btn_confirm">
                                                <button class="btn btn_primary" id="changePhone" disabled="disabled" type="button">Подтвердить
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="Tabs-block" id="transactions" style="display: none;">
                        <div class="Transactions">
                            <div class="tableWrap">
                                <table class="table table_noMargin">
                                    <thead>
                                    <tr>
                                        <th>Дата и время
                                        </th>
                                        <th>Сумма
                                        </th>
                                        <th>Описание
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="transaction : ${transactions}">
                                        <td th:text="${#temporals.format(transaction.time, 'dd.MM.yyyy HH:mm')}">15 мая 2017 10:03
                                        </td>
                                        <td><span class="Transactions_textSuccess">
                            <strong th:text="${transaction.value > 0 ? '+' : ''} + ${transaction.value} + ' р.'">+500 р.
                            </strong></span>
                                        </td>
                                        <td th:text="${transaction.description}">Пополнение счета
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="Transactions-footer Transactions-footer_center" th:style="${transactions.size() < 5 ? 'display: none;' : ''}"><a
                                    class="btn btn_primary Transactions-get" data-transactionlimit="5" data-transactionoffset="0"
                                    href="#">Показать еще</a>
                            </div>
                        </div>
                    </div>
                    <div class="Tabs-block" id="topup" style="display: none;">
                        <form action="#" class="form Topup" method="post">
                            <div class="Topup-wrap">
                                <strong class="Topup-title">Введите сумму, на которую хотите пополнить свой счет:
                                </strong>
                                <div class="form-group form-group_row Topup-group">
                                    <input class="form-input" id="sum" name="sum" type="text"/><span>рублей</span>
                                </div>
                                <div class="form-group">
                                    <div class="Topup-btn">
                                        <button class="btn btn_primary">Пополнить
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<footer th:replace="~{'fragments/common_footer_fragment_' + ${authentication} :: footer_fragment}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
<!--+menu(-->
<!--    'Это раз',-->
<!--    'Это два',-->
<!--    'Это три'-->
<!--)-->
<!--br-->
<!--br-->
<!--+menu._vt-->
<!--    +menuItem Это раз-->
<!--    +menuItem.-item_danger Это два-->
<!--    +menuItem Это три-->
</body>
</html>