<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <title>Bookshop</title>
    <meta content="Описание страницы" name="description">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport">
    <!--meta( http-equiv="cache-control" content="no-cache")-->
    <!--meta( http-equiv="expires" content="0")-->
    <!--link(rel="preload" href="assets/css/extra.min.css?v=" + version as="style" crossorigin="anonymous")-->
    <link href="favicon.ico" rel="shortcut icon">
    <link as="font" crossorigin="anonymous" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" rel="preload">
    <link as="font" crossorigin="anonymous" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" rel="preload">
    <link as="font" crossorigin="anonymous" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" rel="preload">
    <link as="font" crossorigin="anonymous" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" rel="preload">
    <link href="/assets/css/fonts.min.css?v=87821122" rel="stylesheet">
    <link href="/assets/css/basic.min.css?v=87821122" rel="stylesheet">
    <link href="/assets/css/jquery-ui.css" rel="stylesheet">
    <link href="/assets/css/extra.min.css?v=87821122" rel="stylesheet">
    <link href="/assets/css/downloadBookWindow.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script defer src="/assets/js/scripts.min.js?v=87821122"></script>
</head>
<body class="Site">
<!--if lt IE 8
p.error-browser
    | Ваш браузер&nbsp;
    em устарел!&nbsp;
    a(href="http://browsehappy.com/") Выберите новую версию
        +s
        | браузера здесь&nbsp;
    | для правильного отображения сайта.
-->
<header th:replace="~{fragments/common_header_fragment :: header_fragment}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <ul class="breadcrumbs">
                <li class="breadcrumbs-item"><a href="/">Главная</a>
                </li>
                <li class="breadcrumbs-item"><a href="/genres">Книги</a>
                </li>
                <li class="breadcrumbs-item breadcrumbs-item_current"><span th:text="${book.title}">Мара и морок</span>
                </li>
            </ul>
            <div class="Product">
                <div class="ProductCard">
                    <div class="ProductCard-look">
                        <div class="ProductCard-photo">
                            <img alt="card.jpg" src="/assets/img/content/main/card.jpg" th:src="${book.image}"/>
                        </div>
                    </div>
                    <div class="ProductCard-desc">
                        <div class="ProductCard-header">
                            <h1 class="ProductCard-title" th:text="${book.title}">Мара и морок
                            </h1>
                            <div class="ProductCard-author"><span class="ProductCard-titleProp">Автор:</span>
                                <span th:each="author : ${authors}">
                                    <a href="#" th:href="'/authors/' + ${author[0]}" th:text="${author[1]}">Лия Арден</a><span th:text="${author[2]}"></span>
                                </span>
                            </div>
                            <div class="ProductCard-rating"><span class="ProductCard-titleProp">Рейтинг:</span>
                                <button class="trigger trigger_dropdown" type="button">
                                    <div class="Rating Rating_noStyleLink"><span class="Rating-stars"><span
                                            class="Rating-star Rating-star_view" th:class="'Rating-star' + ${book.rating >= 1 ? ' Rating-star_view' : ''}">
                          <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                            <g>
                              <g>
                                <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                      fill="#ffc000"></path>
                              </g>
                            </g>
                          </svg></span><span class="Rating-star Rating-star_view" th:class="'Rating-star' + ${book.rating >= 2 ? ' Rating-star_view' : ''}">
                          <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                            <g>
                              <g>
                                <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                      fill="#ffc000"></path>
                              </g>
                            </g>
                          </svg></span><span class="Rating-star" th:class="'Rating-star' + ${book.rating >= 3 ? ' Rating-star_view' : ''}">
                          <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                            <g>
                              <g>
                                <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                      fill="#ffc000"></path>
                              </g>
                            </g>
                          </svg></span><span class="Rating-star" th:class="'Rating-star' + ${book.rating >= 4 ? ' Rating-star_view' : ''}">
                          <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                            <g>
                              <g>
                                <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                      fill="#ffc000"></path>
                              </g>
                            </g>
                          </svg></span><span class="Rating-star" th:class="'Rating-star' + ${book.rating == 5 ? ' Rating-star_view' : ''}">
                          <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                            <g>
                              <g>
                                <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                      fill="#ffc000"></path>
                              </g>
                            </g>
                          </svg></span></span><span class="Rating-title" th:text="'(' + ${ratingsCount} + ')'">(567)</span>
                                    </div>
                                    <div class="modal modal_compression modal_dropdown">
                                        <div class="modal-window"><a class="modal-close"
                                                                     href="#"><span></span><span></span></a>
                                            <strong class="modal-title">Распределение оценок
                                            </strong>
                                            <div class="RatingGroup"><span class="Rating"><span
                                                    class="Rating-stars"><span class="Rating-star Rating-star_view">
                                <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span></span><span class="Rating-title" th:text="${ratings.getOrDefault(5, 0)}">1</span></span><br><span
                                                    class="Rating"><span class="Rating-stars"><span
                                                    class="Rating-star Rating-star_view">
                                <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span></span><span class="Rating-title" th:text="${ratings.getOrDefault(4, 0)}">4</span></span><br><span
                                                    class="Rating"><span class="Rating-stars"><span
                                                    class="Rating-star Rating-star_view">
                                <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span></span><span class="Rating-title" th:text="${ratings.getOrDefault(3, 0)}">0</span></span><br><span
                                                    class="Rating"><span class="Rating-stars"><span
                                                    class="Rating-star Rating-star_view">
                                <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star Rating-star_view">
                                <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span></span><span class="Rating-title" th:text="${ratings.getOrDefault(2, 0)}">10</span></span><br><span class="Rating"><span
                                                    class="Rating-stars"><span class="Rating-star Rating-star_view">
                                <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span><span class="Rating-star">
                                <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                                  <g>
                                    <g>
                                      <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                            fill="#ffc000"></path>
                                    </g>
                                  </g>
                                </svg></span></span><span class="Rating-title" th:text="${ratings.getOrDefault(1, 0)}">3</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                            </div>
                            <div class="ProductCard-assessment">
                                <span class="ProductCard-titleProp">Оцените книгу:</span>
                                <span class="Rating Rating_input" data-bookid="2121" th:data-bookid="${book.slug}">
                                    <span class="Rating-stars">
                                        <span class="Rating-star">
                        <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <g>
                              <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                    fill="#ffc000"></path>
                            </g>
                          </g>
                        </svg></span>
                      <input name="rating" type="radio" value="1"/><span class="Rating-star">
                        <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <g>
                              <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                    fill="#ffc000"></path>
                            </g>
                          </g>
                        </svg></span>
                      <input name="rating" type="radio" value="2"/><span class="Rating-star">
                        <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <g>
                              <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                    fill="#ffc000"></path>
                            </g>
                          </g>
                        </svg></span>
                      <input name="rating" type="radio" value="3"/><span class="Rating-star">
                        <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <g>
                              <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                    fill="#ffc000"></path>
                            </g>
                          </g>
                        </svg></span>
                      <input name="rating" type="radio" value="4"/><span class="Rating-star">
                        <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <g>
                              <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                    fill="#ffc000"></path>
                            </g>
                          </g>
                        </svg></span>
                      <input name="rating" type="radio" value="5"/></span></span>
                            </div>
                            <div class="ProductCard-tags"><span class="ProductCard-titleProp">Тэги:</span>
                                <span th:each="tag : ${tags}">
                                    <a href="/tags/" th:href="'/tags/' + ${tag[0]}" th:text="${tag[1]}">Современные</a><span th:text="${tag[2]}"></span>
                                </span>
                            </div>
                            <div class="ProductCard-cost">
                                <span class="ProductCard-titleProp">Цена:</span><span class="ProductCard-priceOld" th:if="${book.discount != 0}" th:text="'₽' + ${book.price}">₽300</span><span class="ProductCard-price" th:text="'₽' + ${book.discountPrice}" >₽180</span>
                            </div>
                            <!--+div.-info
                            &#32;
                            //+div.-cost
                            //    +div.-price $55.00
                            //    +div.-priceOld $115.00
                            //+div.-compare
                            //    +btn._default
                            //        +img('change.svg','icons/card').-icon
                            -->
                        </div>
                        <div class="ProductCard-text">
                            <div style="word-break: break-word;" th:text="${book.description}">
                                    Таких, как я, называют Марами - отмеченными самой богиней смерти Мораной. Когда-то у меня
                                и моих шести сестер был свой путь. Тогда люди нас уважали и просили о милосердии. Они
                                приносили нам подношения и молились нам. Но 200 лет назад все изменилось, когда принц
                                Серата осмелился поднять руку на одну из нас. Я пыталась отомстить, но погибли мы все.
                                Теперь правители Аракена, погрязшие в длительной войне со своим соседом Сератом, решили
                                вернуть меня к жизни. Дать второй шанс на месть и свободу, привязав меня к тому, против
                                кого я никогда не пойду. Таких, как он, называют Морок, и их боятся абсолютно все.
                            </div>
                        </div>
                        <div class="ProductCard-cart">
                            <!--+div.-cartElement.-cartElement_amount-->
                            <!--    +Amount._product-->
                            <div class="ProductCard-cartElement">
                                <button class="btn btn_primary btn_outline" data-alttext="Отложена" th:data-alttext="${keptAltText}"
                                        data-bookid="[1111]" th:data-bookid="${book.slug}"
                                        data-btnradio="buyblock" data-btntype="check" data-check="false" th:data-check="${keptCheck}"
                                        data-sendstatus="KEPT"><span class="btn-icon"><img
                                        alt="heart.svg" src="/assets/img/icons/heart.svg"/></span><span
                                        class="btn-content" th:text="${keptText}">Отложить</span>
                                </button>
                            </div>
                            <div class="ProductCard-cartElement">
                                <button class="btn btn_primary btn_outline" th:class="${cartClass}" data-alttext="В корзине" th:data-alttext="${cartAltText}"
                                        data-bookid="[1111]"  th:data-bookid="${book.slug}"
                                        data-btnradio="buyblock" data-btntype="check" data-check="false" th:data-check="${cartCheck}"
                                        data-sendstatus="CART"><span class="btn-icon"><img
                                        alt="shopping-basket.svg"
                                        src="/assets/img/icons/shopping-basket.svg"/></span><span class="btn-content" th:text="${cartText}">Купить</span>
                                </button>
                            </div>
                        </div>
                        <div class="ProductCard-cart">
                            <!--+div.-cartElement.-cartElement_amount-->
                            <!--    +Amount._product-->
                            <div class="ProductCard-cartElement"><a class="btn btn_primary btn_outline"><span
                                    class="btn-icon"><img alt="download.svg"
                                                          src="/assets/img/icons/download.svg"/></span><span
                                    class="btn-content">Скачать</span></a>
                            </div>
                            <div class="ProductCard-cartElement">
                                <button class="btn btn_primary btn_outline" data-alttext="Вернуть из архива"
                                        data-bookid="[1111]" th:data-bookid="${book.slug}" data-btnradio="buyblock" data-btntype="check"
                                        data-check="false" data-sendstatus="ARCHIVED"><span class="btn-icon"><img
                                        alt="archive.svg" src="/assets/img/icons/archive.svg"/></span><span
                                        class="btn-content">В архив</span>
                                </button>
                            </div>
                        </div>
                        <div id="myPopup">
                            <p>Ссылки для скачивания</p>
                            <div th:each="file : ${files}">
                                <a th:href="'/download/' + ${file.hash}" th:title="${file.type.description}" th:text="${file.type.name}"></a>
                            </div>
                            <span id="myPopup_close">&times;</span>
                        </div>
                        <div id="myOverlay"></div>
                        <!--+div.-cart-->
                        <!--    //+div.-cartElement.-cartElement_amount-->
                        <!--    //    +Amount._product-->
                        <!--    +div.-cartElement-->
                        <!--        +btn('button')(data-sendstatus='UNLINK' data-bookid="[1111]")._muted Вернуть из архива-->
                    </div>
                </div>
                <div class="Product-comments">
                    <div class="Product-comments-header">
                        <h3 class="Product-comments-title">Отзывы
                        </h3><span class="Product-comments-amount" th:text="${reviewsCountLabel}">567 отзывов</span>
                    </div>
                </div>
                <div class="Comments">
                    <strong class="Comments-title">Написать отзыв</strong>
                    <div class="Comments-addComment">
                        <form action="#" class="form" data-bookid="1111" th:data-bookid="${book.slug}" method="post">
                            <div class="form-group">
                                <textarea class="form-textarea Comments-review" data-validate="require" id="review"
                                          name="review" placeholder="Текст отзыва"></textarea>
                            </div>
                            <div class="form-group Comments-sendReview">
                                <button class="btn btn_warning" type="submit">Отправить отзыв
                                </button>
                            </div>
                            <div class="form-group">
                                <div class="Comments-successSend"></div>
                            </div>
                        </form>
                    </div>
                    <div class="Comment" th:each="review : ${reviews}">
                        <div class="Comment-column Comment-column_pict">
                            <div class="Comment-avatar">
                            </div>
                        </div>
                        <div class="Comment-column">
                            <header class="Comment-header">
                                <div>
                                    <strong class="Comment-title"><span th:text="${review.userName}">Александр Кузнецов</span><span class="Comment-rating" th:text="${review.userRating}"><span
                                            class="Rating Rating_comment"><span class="Rating-stars"><span
                                            class="Rating-star Rating-star_view">
                              <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                                <g>
                                  <g>
                                    <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                          fill="#ffc000"></path>
                                  </g>
                                </g>
                              </svg></span><span class="Rating-star Rating-star_view">
                              <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                                <g>
                                  <g>
                                    <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                          fill="#ffc000"></path>
                                  </g>
                                </g>
                              </svg></span><span class="Rating-star">
                              <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                                <g>
                                  <g>
                                    <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                          fill="#ffc000"></path>
                                  </g>
                                </g>
                              </svg></span><span class="Rating-star">
                              <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                                <g>
                                  <g>
                                    <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                          fill="#ffc000"></path>
                                  </g>
                                </g>
                              </svg></span><span class="Rating-star">
                              <svg height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                                <g>
                                  <g>
                                    <path d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"
                                          fill="#ffc000"></path>
                                  </g>
                                </g>
                              </svg></span></span></span></span>
                                    </strong><span class="Comment-date" th:text="${#temporals.format(review.time, 'dd.MM.yyyy HH:mm')}">17.04.2020 16:40</span>
                                </div>
                            </header>
                            <div class="Comment-content">
                                <div class="Spoiler">
                                    <div style="word-break: break-word;">
                                        <span class="Spoiler-visible" th:text="${review.shownText}">
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula
                                            eget dolor. Aenean massa. Cumtipsu sociis natoque penatibus et magnis dis parturient
                                            montesti, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                                            eutu, pretiumem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
                                            aliquet nec, vulputate eget, arcu. In enim justotuio, rhoncus ut loret, imperdiet a,
                                            venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer
                                            tincidunt. Cras dapibus. Vivamus element semper nisi. Aenean vulputate eleifend
                                            tellus. Aenean leo ligula, porttitor eu, consequat vitae.</span>
                                        <span class="Spoiler-hide" th:text="${review.hiddenText}">
                                                Первая книга - сборник повестей и рассказов "Большой поток" - посвящена людям
                                            леспромхоза. Автор книг "Рассказы" (1954), "Неразменное счастье. Повести и
                                            рассказы" (1962). Наиболее известная его повесть "Девчата" (1961) переведена
                                            на пятнадцать языков. По написанному им же сценарию был поставлен
                                            одноименный фильм, до сих пор имеющий огромный успех.</span>
                                    </div>
                                    <div class="Comment-footer">
                                        <div class="Comment-appeal">
                                            <button class="btn btn_white btn_like" data-btnradio="two2" data-btntype="check"
                                                    data-check="false" data-likeid="1111" th:data-likeid="${review.id}">
                                                <span class="btn-icon">
                                                    <img alt="like.svg" src="/assets/img/icons/comment/like.svg"/></span><span
                                                    class="btn-content" th:text="${review.likesCount}">200</span>
                                            </button>
                                            <button class="btn btn_white btn_dislike" data-btnradio="two2"data-btntype="check"
                                                    data-check="false" data-likeid="1111" th:data-likeid="${review.id}">
                                                <span class="btn-icon">
                                                    <img alt="dislike.svg" src="/assets/img/icons/comment/dislike.svg"/></span><span
                                                    class="btn-content" th:text="${review.dislikesCount}">100</span>
                                            </button>
                                            <span class="Rating-title_error"></span>
                                        </div>
                                        <button class="Spoiler-trigger btn btn_primary btn_nr" type="button"
                                                th:style="${review.hiddenText.isEmpty() ? 'display: none;' : ''}"
                                                data-hidetext="Показать отзыв полностью"
                                                data-showtext="Свернуть отзыв">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<footer th:replace="~{fragments/common_footer_fragment :: footer_fragment}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/assets/js/downloadBookWindow.js"></script>
</body>
</html>